h2
{
	color:blue;
	text-aline:center;
}

.col-xs-update
{
	width:92%;
}


.tableUpdated
{
	width:90%;
	margin:17px 58px 0;
}

.btnSpace
{
	
	margin:17px;
}
.btnWidth
{
	width:240px;
}

.updateBtnStyle
{
	width:240px;
}